@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
}
.font-mulish{
    font-family: "Mulish", sans-serif;
}
.nav-icon-common{
    position: relative;
}

.nav-icon-home:hover::after{
    content: 'Home';   
}
.nav-icon-pen:hover::after{
    content: 'Write';   
}
.nav-icon-personadd:hover::after{
    content: 'Add Friend'; 
    width: 80px;  
    text-align: center;
}
.nav-icon-flag:hover::after{
    content: 'Pages';   
}
.nav-icon-common::after{
    background-color: #12132D;
    color: white;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    padding: 5px 6px;
    border-radius: 5px;
    position: absolute;
    font-size: 12px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%); 
}
.nav-icon-common:hover::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #12132D;
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);    
}

.ovimot{
    background: linear-gradient(to right, #7276EF, #7d26e025);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-bg-img{
    background-image: url(../images/bgbanner.png);
    background-position: bottom;
    background-repeat: no-repeat;
}






/* media query here starts here  */
@media only screen and (max-width:640px) {
    
}
@media only screen and (max-width:768px) {
    .banner-bg-img{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 12px;
        height: fit-content;
    }
    .banner-left{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .banner-left h1{ 
        font-size: 32px;
        line-height: 55px;
    }
    .banner-left p{
        font-size: 18px;
        line-height: normal;
    }
    .banner-right{
        padding: 30px;
    }
    .banner-right p{
        font-size: 20px;
    }
    .search input{
        width: 140px;
        font-size: 16px;
    }
    .search button{
        padding: 8px 16px;
        font-size: 18px;
    }
}
@media only screen and (min-width: 640px) and (max-width: 768px){

}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .banner-left h1{ 
        font-size: 48px;
        line-height: 60px;
    }
    .banner-left p{
        font-size: 18px;
        line-height: normal;
    }
    .banner-right{
        padding: 36px;
    }
    .banner-right p{
        font-size: 22px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px){

}
@media only screen and (min-width: 1024px) and (max-width: 1200px){

}